<html>
    <head>
        <title>Carbon Emission Calculations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='information.css') }}">
        <style type="text/css">
            body{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                height: 90%;
                overflow: hidden;
                background-color: #111D13;
                color: white;
            }

            *{
                font-size: x-large;
            }

            h2{
                font-size: xx-large;
            }
        </style>
    </head>
    <body>
        <h2>Carbon Emission Calculations</h2>
        
        <div class="calc-item">
            <span class="calc-label" id="gasoline">Equivalent Gallons of Gasoline: </span>
        </div>
        
        <div class="calc-item">
            <span class="calc-label" id="passenger">Passenger Miles in a car: </span>
        </div>
        
        <div class="calc-item">
            <span class="calc-label" id="smartphones">Smartphones Charged: </span>
        </div>
        
        <div class="calc-item">
            <span class="calc-label" id="acres">Acres of US Forest Needed to Sequester: </span>

        </div>
        
        <div class="calc-item">
            <span class="calc-label" id="trash_bags">Trash Bags Recycled: </span>
        </div>
        
        <div class="calc-item">
            <span class="calc-label" id="wind">Wind Turbines Running: </span>
        </div>

        <script type="text/javascript">
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const forest_acres = urlParams.get('USforest_acres')
            const calgasoline_gallons = urlParams.get('calgasoline_gallons')
            const passenger_miles = urlParams.get('passenger_miles')
            const smartphones = urlParams.get('smartphones_charged')
            const transhbags = urlParams.get('trashbags_recycled')
            const wind_turbines = urlParams.get('windturbines_running')

            document.getElementById('acres').textContent += forest_acres
            document.getElementById('gasoline').textContent += calgasoline_gallons
            document.getElementById('passenger').textContent += passenger_miles
            document.getElementById('smartphones').textContent += smartphones
            document.getElementById('trash_bags').textContent += transhbags
            document.getElementById('wind').textContent += wind_turbines

        </script>
    </body>
</html>