@font-face {
    font-family: Raleway;
    src: url(raleway.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    background-color: #111d13; /* Background color for the entire page */
}

.navbar {
    background-color: #111d13; /* Dark color for the navigation bar */
    color: #fff; /* White text for contrast */
    padding: 0.5em 4em; /* Adjust padding */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 55px; /* Adjust navbar height */
}

.container {
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center; /* Center the title */
    margin-top: 0.04em; /* Adjust text position */
    margin-bottom: 0.04em;
}

.title p {
    font-size: 30px; /* Adjust font size as needed */
}

nav ul {
    list-style-type: none;
    text-align: center; /* Center the navigation links */
}

nav ul li {
    display: inline;
    margin-left: 10px; /* Adjust spacing between navigation links */
    margin-top: 5px; /* Align navigation links vertically */
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* White text */
    transition: color 0.3s ease; /* Smooth transition on hover */
    font-size: 18px; /* Adjust font size for navigation links */
}

nav ul li a:hover {
    color: #97999a; /* Change color on hover */
}

/* Dropdown Styles */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
